html, body {
	font-family:Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:100%;
}

.wapper{
	width: 100%;
	margin: 0px auto;
}

.nav-container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	max-width: 1170px;
	display: table;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 1170px;
	display: table;
}

.img-responsive{
	width: 100%;
	height: auto;
}

.row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.portfolio{
	padding-right: 0px !important;
	padding-left: 0px !important;
}

.about{
	list-style-type: none;
	margin: 10px 0px;
}

.about li{
	margin: 10px 0px;
	font-size: 20px;
	color: #555;
	word-wrap: break-word;
}


.nav-left {
	float: left;
}

.nav-right{
	float: right;
}

.portfolio{
	position: relative;
	width: 100%;
}

h1{
	text-align: center;
}

.image{
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
	transition: .5s ease;
	opacity: 0;
	width: 100%;	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%)
}

.portfolio:hover .image {	
	opacity: 0.7;
	background-color: #000;
}

.portfolio:hover .middle {
	opacity: 1;
}

.text {
	background-color: #000;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
	align-content: center;
	text-align: center;
}

.text a{
	color: white;
	text-decoration: none;
}

nav{
	background-color: #3b5998;
}

nav ul{
	list-style-type: none;
	padding: 0px;
	-webkit-padding-start: 0px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

nav a{
	text-decoration: none;
	color: #fff;
	display: block;
	padding: 20px;
}

nav a:hover{
	background-color: #555;
}

.slider-wrapper {
	clear: both;
	display: block;
	position: relative;
}

.sitename{
	float: inherit;
	margin: 0px auto;
	line-height: 56px;
	color: #fff;
	padding: 0px 20px;
}

.blue{
	background-color: blue;
}

/*Flex Menu*/
@media screen and (min-width: 768px){
	nav ul{
		display: flex;
	}

}

@media screen and (max-width: 768px){
	nav ul {
		display: flex;
		justify-content: space-between;
	}

	.row{
		margin-right: 0px !important;
		margin-left: 0px !important;
	}

}

/* Slicknav Menu */

.slicknav_menu {
	display:none;
}

.slicknav_menu {
	background: #3b5998 !important;
}


@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}

}

/* Slider */

.slick-slider {
	overflow: hidden;
}

.slider--item{
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Footer */
.main-footer{
	justify-content: space-between;
	background-color: #3b5998;
	padding: 1em;
	text-align: center;
	color: #fff;
}